$main-color: #fdbe13;

.login_bg {
  min-height: 100vh;
  h6 {
    color: #5f5f5f;
    font-size: 18px;
  }

  h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
  }
  .download_btn {
    img {
      max-width: 165px;
      padding: 10px;
      margin-top: 20px;
    }
  }
}
.login_logo {
  max-width: 130px;
  margin-bottom: 10px;
}
.login {
  max-width: 500px;
  margin: 0px auto;
  background-color: #ffffff;
  padding: 20px 20px 30px 20px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .ant-form-vertical .ant-form-item-label {
    padding: 0px !important;
  }
}
.right-border {
  border-right: 1px solid rgba(255, 253, 253, 0.41);
}
.login-right {
  max-width: 500px;
  margin: 0px auto;
  @media all and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h3 {
    color: #ffffff;
  }
  p {
    color: #ffffff;
    opacity: 0.8;
    font-weight: 300;
  }
}
