.student-register {
  max-width: 800px;
  margin: 0px auto;
  background-color: #ffffff;
  padding: 20px 20px 30px 20px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .ant-form-vertical .ant-form-item-label {
    padding: 0px !important;
  }
}
.login-right {
  max-width: 500px;
  margin: 0px auto;
  @media all and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h3 {
    color: #ffffff;
  }
  p {
    color: #ffffff;
    opacity: 0.8;
    font-weight: 300;
  }
}
