img {
  max-width: 100%;
}
$main-color: #21defa;
.top-bar {
  background: $main-color;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  height: 55px;
  .logo {
    max-height: 35px;
    margin-top: 10px;
    float: left;
  }
  ul {
    padding: 0px;
    margin: 0px;
    li {
      color: #000000;
      list-style: none;
      font-size: 14px;
      font-weight: 500;
      padding: 0px 20px;
      border-left: 1px solid rgba(255, 255, 255, 0.233);
      display: inline-block;
      line-height: 55px;
      @media all and (max-width: 991px) {
        display: none;
      }
      .MuiSvgIcon-root {
        font-size: 18px;
      }
    }
  }
  .ant-avatar {
    margin-right: 10px;
    @media all and (max-width: 768px) {
      margin-right: 5px;
    }
  }
}
.content {
  padding-left: 230px;
  width: 100%;
  padding-top: 20px;
  background: #f5f0ff;
  min-height: 100vh;
  padding-top: 100px;
  padding-right: 30px;
  @media all and (max-width: 991px) {
    padding-left: 30px;
  }
}
.side-menu {
  width: 200px;
  position: fixed;
  left: 0;
  top: 65px;
  background: #001529;
  min-height: 100vh;
  z-index: 999;

  @media all and (max-width: 991px) {
    width: auto;
    display: none;
  }
  .ant-layout.ant-layout-has-sider {
    background: #ffffff;
  }
  .menu-scroll {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 30px;
  }

  .menu-btn {
    float: right;
    margin-top: -51px;
    background: none;
    border: none;
    box-shadow: none;
  }
  .MuiSvgIcon-root {
    margin-right: 20px;
    font-size: 1.12rem;
  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item {
    height: 30px;
    line-height: 30px;
    padding-left: 62px !important;
  }
}
.whitebox {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.dashboard-box {
  margin-bottom: 20px;
  min-height: 350px;
  @media all and (max-width: 768px) {
    min-height: auto;
  }
  h6 {
    margin-top: 20px;
    font-size: 18px;
  }
}
.mixed-chart {
  width: 100%;
  @media all and (max-width: 991px) {
    width: 400px;
  }
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: $main-color !important;
  color: #000000;
}
.moile-menu {
  display: none;
  @media all and (max-width: 991px) {
    display: block;
  }
}
.ant-btn-primary {
  background: $main-color;
  border-color: $main-color;
  color: #000000;
}
.MuiListItem-root {
  a {
    color: #000000;
  }

  .MuiSvgIcon-root {
    font-size: 17px;
    columns: #000000;
    margin-right: 5px;
  }
}
.MuiButtonBase-root {
  margin-top: 10px !important;
  outline: none !important;
}
